certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
GPy==1.8.0
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
matplotlib==2.0.2
nbformat==4.4.0
networkx==2.0
numpy==1.13.3
pandas==0.20.3
paramz==0.7.4
patsy==0.4.1
plotly==2.0.15
pydotplus==2.0.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==5.1
requests==2.18.4
scikit-learn==0.19.0
scipy==0.19.1
six==1.11.0
sklearn==0.0
statsmodels==0.8.0
tqdm==4.17.1
traitlets==4.3.2
urllib3==1.24.2
